<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daqiao.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{504,469},{500,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,465}}</string>
                <key>sourceSize</key>
                <string>{500,465}</string>
            </dict>
            <key>gongsongli.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,483}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,483}}</string>
                <key>sourceSize</key>
                <string>{500,483}</string>
            </dict>
            <key>libai.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{500,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,465}}</string>
                <key>sourceSize</key>
                <string>{500,465}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wzry.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ece832bb425eb418115f097a062fc7ef$</string>
            <key>textureFileName</key>
            <string>wzry.png</string>
        </dict>
    </dict>
</plist>
